shamefully-hoist=true
only-built-dependencies[]=@tensorflow/tfjs-node
only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=core-js
only-built-dependencies[]=onnxruntime-node
only-built-dependencies[]=sharp
